body {
  background-color: #e8c6ff;
}

#envelope {
  margin: 150px auto;
  position: relative;
  width: 280px;
  height: 180px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #cba3e8;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.front {
  position: absolute;
  width: 0;
  height: 0;
  z-index: 3;
}

.flap {
  border-left: 140px solid transparent;
  border-right: 140px solid transparent;
  border-bottom: 82px solid transparent;
  border-top: 98px solid #9e67c2;
  transform-origin: top;
  pointer-events: none;
}

.pocket {
  border-left: 140px solid #b282d7;
  border-right: 140px solid #b282d7;
  border-bottom: 90px solid #a774cf;
  border-top: 90px solid transparent;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.letter {
  position: relative;
  background-color: #e8c6ff;
  width: 90%;
  margin: auto;
  height: 90%;
  top: 5%;
  border-radius: 6px;
  box-shadow: 0 2px 26px rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#message {
  font-size: 16px;
  font-weight: bold;
  color: #6b2c91;
  display: none;
}

.hidden {
  display: none;
}

.open .flap {
  transform: rotateX(180deg);
  transition: transform 0.4s ease, z-index 0.6s;
  z-index: 1;
}

.close .flap {
  transform: rotateX(0deg);
  transition: transform 0.4s 0.6s ease, z-index 1s;
  z-index: 5;
}

.close .letter {
  transform: translateY(0px);
  transition: transform 0.4s ease, z-index 1s;
  z-index: 1;
}

.open .letter {
  transform: translateY(-60px);
  transition: transform 0.4s 0.6s ease, z-index 0.6s;
  z-index: 2;
}

.hearts {
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  z-index: 2;
}

.heart {
  position: absolute;
  bottom: 0;
  right: 10%;
  pointer-events: none;
}

.heart:before,
.heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: #6b2c91;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  pointer-events: none;
}

.heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.close .heart {
  opacity: 0;
  animation: none;
}

.a1, .a2, .a3 {
  opacity: 1;
  animation: slideUp 4s linear 1, sideSway 2s ease-in-out 4 alternate;
  animation-fill-mode: forwards;
  animation-delay: 0.7s;
}

@keyframes slideUp {
  0% { top: 0; }
  100% { top: -600px; }
}

@keyframes sideSway {
  0% { margin-left: 0px; }
  100% { margin-left: 50px; }
}

.reset {
  text-align: center;
}

.reset button {
  font-weight: 800;
  border: solid 2px #9e67c2;
  border-radius: 4px;
  color: #6b2c91;
  font-size: 14px;
  text-transform: uppercase;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
}

.reset button:hover {
  background-color: #cba3e8;
  color: #4a1765;
}
